In [1]:
import pandas as pd
import numpy as np
import requests
import re
import datetime

# getting zipcode func

We utilized GCP geocoding API to get the zipcode from corresponding coordinates

In [2]:
api_key="AIzaSyCLzo3xm2v1RkfvV4ydogZGa9LVK2z5CIc"

def find_zipcode(df):
    list_=[]
    for i in range(len(df['Lat'])):
        url = 'https://maps.googleapis.com/maps/api/geocode/json?latlng=%f,%f&key=%s'%(df['Lat'].iloc[i], df['Long'].iloc[i],api_key)
        response = requests.get(url)
        if response.status_code == 200:
            response_data = response.json()
            try:
                address = response_data['results'][0]['formatted_address']
                match = re.search(r'\d{5}' , address)
                zipcode = int(match.group())
            except:
                zipcode = np.NaN
            list_.append(zipcode)
        else:
            return None

    df['Zipcode']=list_

# Boston

In [3]:
def strptime(time):
    time_object = datetime.datetime.strptime(time,'%Y-%m-%d %H:%M:%S')
    return time_object

In [4]:
df_BOS = pd.read_csv('BOS_crime_incident_from_2015_to_2019.csv')
df_BOS['datetime']=df_BOS['OCCURRED_ON_DATE'].apply(strptime)
df_BOS = df_BOS[(df_BOS['datetime']>=datetime.datetime.strptime('2018-08-01','%Y-%m-%d'))
               &(df_BOS['datetime']<=datetime.datetime.strptime('2019-01-31','%Y-%m-%d'))]
# print('before:',len(df_BOS))
df_BOS = df_BOS[df_BOS['Lat'].notnull()]
df_BOS = df_BOS[df_BOS['Long'].notnull()]
# print('after:',len(df_BOS))

# print(df_BOS['OFFENSE_CODE_GROUP'].unique())

df_BOS = df_BOS[(df_BOS['OFFENSE_CODE_GROUP']== 'Aggravated Assault')
            |(df_BOS['OFFENSE_CODE_GROUP']== 'Residential Burglary')
            |(df_BOS['OFFENSE_CODE_GROUP']== 'Firearm Violations')
            |(df_BOS['OFFENSE_CODE_GROUP']== 'Robbery')
            |(df_BOS['OFFENSE_CODE_GROUP']== 'Assembly or Gathering Violations')
            |(df_BOS['OFFENSE_CODE_GROUP']== 'Violations')
            |(df_BOS['OFFENSE_CODE_GROUP']== 'Drug Violation')
            |(df_BOS['OFFENSE_CODE_GROUP']== 'Homicide')
            |(df_BOS['OFFENSE_CODE_GROUP']== 'Explosives')
            |(df_BOS['OFFENSE_CODE_GROUP']== 'Arson')  
            |(df_BOS['OFFENSE_CODE_GROUP']== 'HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE')
            |(df_BOS['OFFENSE_CODE_GROUP']== 'HOME INVASION')]
len(df_BOS)

5373

In [209]:
find_zipcode(df_BOS)

In [210]:
df_BOS = df_BOS[df_BOS['Zipcode'].notnull()]
df_BOS.to_csv('bos_crime_zipcode1.csv',index=False)

# Washington DC

In [211]:
def strptime(time):
    time_object = datetime.datetime.strptime(time,'%Y-%m-%dT%H:%M:%S.000Z')
    return time_object

In [214]:
df_DC_2018 = pd.read_csv('DC_Crime_Incidents_in_2018.csv')
df_DC_2019 = pd.read_csv('DC_Crime_Incidents_in_2019.csv')
df_DC = pd.concat([df_DC_2018,df_DC_2019])
df_DC = df_DC.rename(columns={'LATITUDE':'Lat', 'LONGITUDE':'Long'})
df_DC['datetime']=df_DC['REPORT_DAT'].apply(strptime)
df_DC = df_DC[(df_DC['datetime']>=datetime.datetime.strptime('2018-08-01','%Y-%m-%d'))
             &(df_DC['datetime']<=datetime.datetime.strptime('2019-01-31','%Y-%m-%d'))]
# print('before:',len(df_DC))
df_DC = df_DC[df_DC['Lat'].notnull()]
df_DC = df_DC[df_DC['Long'].notnull()]
# print('after:',len(df_DC))

# print(df_DC['OFFENSE'].unique())
df_DC = df_DC[(df_DC['OFFENSE']== 'BURGLARY')
            |(df_DC['OFFENSE']== 'ROBBERY')
            |(df_DC['OFFENSE']== 'ASSAULT W/DANGEROUS WEAPON')
            |(df_DC['OFFENSE']== 'SEX ABUSE')
            |(df_DC['OFFENSE']== 'HOMICIDE')]
# df_DC = df_DC.reset_index()
df_DC

array(['2018-12-27T18:39:56.000000000', '2018-12-27T21:47:26.000000000',
       '2018-12-28T00:45:37.000000000', ...,
       '2019-01-26T17:29:40.000000000', '2019-01-05T00:00:00.000000000',
       '2019-01-28T20:08:58.000000000'], dtype='datetime64[ns]')

In [215]:
find_zipcode(df_DC)

In [216]:
df_DC = df_DC[df_DC['Zipcode'].notnull()]
df_DC.to_csv('dc_crime_zipcode.csv',index=False)

# NYC

In [217]:
def strptime(time):
    time_object = datetime.datetime.strptime(time,'%m/%d/%Y')
    return time_object

In [218]:
import datetime
df_NYC = pd.read_csv('NYPD_Complaint_Data_Current__Year_To_Date_.csv')
# print(df_NYC['CMPLNT_FR_DT'].unique())
df_NYC['datetime']=df_NYC['CMPLNT_FR_DT'].apply(strptime)
df_NYC = df_NYC.rename(columns={'Latitude':'Lat', 'Longitude':'Long'})
df_NYC = df_NYC[(df_NYC['datetime']>=datetime.datetime.strptime('2018-08-01','%Y-%m-%d'))
               &(df_NYC['datetime']<=datetime.datetime.strptime('2019-01-31','%Y-%m-%d'))]
# print('before:',len(df_NYC))
df_NYC = df_NYC[df_NYC['Lat'].notnull()]
df_NYC = df_NYC[df_NYC['Long'].notnull()]
# print('after:',len(df_NYC))
# df_NYC.head()


print(df_NYC['LAW_CAT_CD'].unique())
df_NYC = df_NYC[(df_NYC['LAW_CAT_CD']== 'FELONY')]
# df_NYC = df_NYC.reset_index()
df_NYC.head()

/usr/local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

['MISDEMEANOR' 'FELONY' 'VIOLATION']

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Lat,Long,Lat_Lon,datetime
1478,686243132,47,BRONX,01/19/2019,06:00:00,01/19/2019,06:05:00,COMPLETED,NaN,NaN,...,NaN,18-24,BLACK,F,1023120.0,262337.0,40.886651,-73.859425,"(40.88665113600007, -73.85942499899994)",2019-01-19 00:00:00
1480,775860274,32,MANHATTAN,11/01/2018,00:01:00,NaN,NaN,COMPLETED,NaN,NaN,...,NaN,<18,WHITE HISPANIC,F,999358.0,236472.0,40.815732,-73.945420,"(40.81573205300003, -73.94542041099999)",2018-11-01 00:00:00
1500,714483599,44,BRONX,01/15/2019,18:55:00,NaN,NaN,COMPLETED,NaN,NaN,...,NaN,UNKNOWN,UNKNOWN,E,1006659.0,245559.0,40.840658,-73.919014,"(40.84065776400007, -73.91901357099994)",2019-01-15 00:00:00
1501,150656153,23,MANHATTAN,01/15/2019,16:00:00,NaN,NaN,ATTEMPTED,NaN,NaN,...,NaN,UNKNOWN,UNKNOWN,E,999321.0,229329.0,40.796127,-73.945570,"(40.796126551000036, -73.94557011499995)",2019-01-15 00:00:00
1504,690936001,47,BRONX,01/14/2019,22:20:00,NaN,NaN,COMPLETED,NaN,NaN,...,NaN,UNKNOWN,UNKNOWN,E,1023456.0,259785.0,40.879645,-73.858225,"(40.87964521400005, -73.85822476799996)",2019-01-14 00:00:00

In [219]:
find_zipcode(df_NYC)

In [220]:
df_NYC = df_NYC[df_NYC['Zipcode'].notnull()]
df_NYC.to_csv('ny_crime_zipcode.csv',index=False)